@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.Musical-Image {
    background-color: rgb(255, 255, 255);
    height : 300px;
    width : 450px;
    border : 2px solid black;
    border-radius : 20px;
    
    margin-top : 150px;
    margin-left : 200px;
}

.Musical-Detail-Info {
    margin-left : 800px;
    margin-top : -310px;
    
}

.Musical-T {
    line-height: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.Musical-Catecory {
    color :rgb(169, 167, 167);
    font-size : 10px;
    
}

.Musical-Title {
    font-weight: bold;
    font-size : 20px;
   
}

.MusicalST {
    margin-top : 40px;
    line-height: 45px;
    font-family: 'Nanum Gothic', sans-serif;
}

