.HeaderContent {
  height: 10vh;
  width: 10vh;
}

.HeaderNav{
  background-color: #911F27;
  width: 100%;
  color : white;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
}

.Header-nav-item{
  display: flex;
  justify-content: space-between;
  width: 1500px;
  margin-top: 5px;
}

.HeaderLogo {
  margin-left:60%;
}


.btn_mypage {
  background-color: transparent; 
  color: #FFFFFF;
  border: none;
  margin-right : -23px;
} 

