.LoginTitle {
  text-align:center;
  margin-top : 110px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
}

.Loginpage {
    position : absolute;
    top: 200px;
    bottom: 300px;
    width: 24%;
    max-width: 500px;
    padding: 0 20px;
    border-radius: 10px;
  
    left: 50%;
    transform: translate(-50%, 0);

    border: 3px solid #911F27;
    background-color: #ffffff;
  
    overflow: hidden;
  
    display:flex;
    flex-direction: column;
  }
  

  .titleWrap {
    margin-top : 87px;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
  }
  
  .Login-contentWrap {
    margin-top: 48px;
    flex: 1;
  }
  
  .inputTitle {
    margin-left : 2px;
    margin-top: 80px;
    font-size: 12px;
    font-weight : bold;
    color : #000000;
  }
  
  .inputWrap {
    display: flex;
    border-radius: 8px;
    padding : 16px;
    margin-top : 5px;
    background-color: white;
    border : 1px solid #e2e0e0;
  }
  
  .loginidinput {
    margin-left:30px;
    width : 80%;
    margin-top: 10px;
    outline : none;
    border : none;
    border-radius:0;
    border-bottom: 3px solid rgb(198, 196, 196);
    height : 40px;
    font-size : 14px;
    font-weight : 400;
  }

  .loginidinput::placeholder {
    text-align: left;
  }

  
  
  
  .input::placeholder {
    color : #dadada;
  }
  
  .bottomButton {
    position : absolute;
    top: 500px;
    bottom: 200px;
    width: 50%;
    max-width: 500px;
    padding: 0 20px;
  
    left: 50%;
    transform: translate(-50%, 0);

    width: 10%;
    height : 48px;
    border : none;
    font-weight: 700;
    background-color: #721218;
    border-radius : 10px;
    color : white;
    margin-bottom : 16px;
    
    cursor : pointer;
    text-align: center;
  }

  .QuestionText {
    text-align: center;
    margin-top : 450px;
    font-size: 12px;
    color:gray;
  }
  
  .signup_link {
    margin-left : 3px;
    color: blue;
    text-decoration-line: underline;
  }