.MainTitle {
    text-align :center;
    margin-top : 80px;
    
    font-size: 26px;
    font-weight: 700;
    color: #262626;
}



.Ranking {
    position : absolute;
    left:1300px;
    top:310px;
	width: 200px;
	height: 378px;
	background-color: rgb(236, 236, 236);
    border-radius: 20px;
    border: none;

}




