.container_matzip{
    position: absolute;
    top : 150px;
    left: 50%; 
    transform: translateX(-50%); 
}

.searchbar_matzip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tab_bar {
    color : #000;
    background-color: transparent;
    width : 100px;
    position: inherit;
}

.tabs {
    background-color: transparent;
    position: absolute;
    display: flex;
    top : 130px;
}

.Matziphr {
    margin-top: 50px;
    height : 2px;
    width:800px;
    background : #000;
}

.search_icon {
    margin-top:10px;
    margin-left:720px;
    height: 50px;
    width: 30px;
}

.tabs {
    align-self: center;   
    left: 50%; 
    transform: translateX(-50%);  
}

