.Review-WrapContent {
    margin-top : 100px;
    text-align: center;
}


.Review-Search {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}

.Review-Input {
    margin-top: 20px;
    vertical-align: middle;
    width: 600px;
    height:30px;
    border-radius: 20px;
    border: 1px #911F27 solid;
}

input::placeholder {
    text-align: center;
}


.Review-WriteBtn {
    position: absolute;
    margin-top: 120px;
    margin-left: 50px;
    background-color: transparent;
    font-weight: bold;
    border: none;
}

.Review-hr {
    margin-top: 50px;
    height : 2px;
    width:800px;
    background : #000;
}