.ReviewWrite-ContentWrap {
    position : absolute;
    top: 150px;
    bottom: 100px;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    border-radius: 10px;
  
    left: 50%;
    transform: translate(-50%, 0);

    border: 4px solid #830d15;
    border-radius: 10px;
    background-color: #ffffff;
  
    overflow: hidden;
  
    display:flex;
    flex-direction: column;
}

.RW-CW {
   height: 70px;
}

.RW-DT {
    height : 70px;
}

.ReviewWrite-Title {
    margin-left : 3px;
    font-weight: bold;
}

.ReviewWrite-Input {
    margin-left:31px;
    width : 80%;
    margin-top:40px;
    border : none;
    border-radius : 5px;
    background-color: #e2dede;

    height : 40px;
    font-size : 14px;
    font-weight : 400;
    text-transform: 5px;
}

.ReviewWrite-Date {
    font-weight: bold;
    text-align : inherit;
}

.ReviewWrite-Label {
    margin-left : 3px;
    font-weight: bold;
    vertical-align: top;
}


.ReviewWrite-Text {
    margin-left:30px;
    width : 80%;
    margin-top: 7px;
    border-radius : 5px;
    border : none;
    background-color: #e2dede;

    height : 250px;
    font-size : 16px;
    font-weight : 400;

    text-transform: 5px;

    resize:none;
    font-family : 'Raleway', sans-serif;
       
}

.ReviewWrite-Upload {
    position : absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top : 600px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color : white;
    font-weight: bold;
    width : 10%;
    height : 40px;
}

.MyDatePicker {
    background-color : #e2dede;
    border : none;
    border-radius : 5px;
    width : 15%;
    margin-left : 65px;
    height : 40px;
   
}