.container {
    background-color: #911F27;
  }
  .sidebar {
    background-color: #911F27;
    position: fixed;
    top: 0;
    bottom: 0;
    left : 0;
    transition: 0.4s ease;
    height: 100%;
    z-index: 99;
    width: 400;
  }
  
  .content {
    width: 800px;
  }

  .button_bar {
    position: relative;
    left : 300px;
    top: 14px;
    width: 40px;
    height: 40px;
    z-index: 99;
    transition: 0.8s ease;
    overflow: hidden;
    color: #fff;
    size: 30px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }


ul {
  color : #fff;
  list-style : none;
  width: 600px;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

li {
  width: 400px;
  font-size: medium;
  font-weight: lighter;
  margin-top: 20px;
}