.Signup-Title {
    text-align:center;
    margin-top :60px;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
  }
  
  .Signup-Page {
      position : absolute;
      top:140px;
      bottom: 220px;
      width: 25%;
      max-width: 500px;
      padding: 0 20px;
    
      left: 50%;
      transform: translate(-50%, 0);
  
      border-radius : 10px;
      border: 3px solid #911F27;
      background-color: #F7F7F7;
    
      overflow: hidden;
    
      display:flex;
      flex-direction: column;
    }
    
  
    .titleWrap {
      margin-top : 87px;
      font-size: 26px;
      font-weight: 700;
      color: #262626;
    }
    
    .Signup-ContentWrap {
      margin-top: 40px;
      flex: 1;
    }
    
    .inputTitle {
      font-size: 12px;
      font-weight : 600;
      color : #262626;
    }

   
    .inputWrap {
      display: flex;
      border-radius: 8px;
      padding : 16px;
      margin-top : 10px;
      background-color: white;
      border : 1px solid #e2e0e0;
    }
    
    .inputWrap:focus-within {
      border : 1px solid #911F27;
    }
    
    .signupinput {
      
      
        margin-left:30px;
        width : 80%;
        margin-top: 10px;
        outline : none;
        border : none;
        border-radius:0;
        border-bottom: 3px solid rgb(198, 196, 196);
        height : 40px;
        font-size : 14px;
        font-weight : 400;
      }
    
    .signupinput::placeholder {
        text-align: left;
      }
    
    .emailCT {
      margin-left: 50px;
      background-color: #911F27;
      color : white;
      border-radius : 5px;
      height : 30px;
      border : none;
      font-weight : bold;
      width : 20%;
      position: absolute;
      left : 50%;
      bottom : 60%;
    }

    
    .bottomButton2 {
      position : absolute;
      top: 600px;
      bottom: 100px;
      width: 50%;
      max-width: 500px;
      padding: 0 20px;
    
      left: 50%;
      transform: translate(-50%, 0);
  
      width: 20%;
      height : 48px;
      border : none;
      font-weight: 700;
      background-color: #911F27;
      border-radius : 64px;
      color : white;
      margin-bottom : 16px;
      
      cursor : pointer;
      text-align: center;
    }
  
    .QuestionText2 {
      text-align: center;
      margin-top : 600px;
      font-size: 12px;
      color:gray;
    }

    .link_login {
      color: blue;
      text-decoration-line: underline;
    }